/* Hero css */
.wrapper{
    /* position: fixed; */
    z-index: -10;
}
.hero{
    width: 100%;
    height: 100%;

}

.hero h1{
    font-size: 70px;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0);
}
.hero span{
    color: rgb(133, 133, 133);
}


.buttons{
    display: flex;
    background-color: rgb(245, 245, 245);
    padding: 10px;
    width: 100%;
    max-width: 300px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    gap: 10px;
    border: 0.1px solid rgba(0, 0, 0, 0.096);
}
.upload{
    background-color: rgba(0, 0, 0, 0.877);
    color: white;
    padding: 5px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    border-radius: 8px;
    border: 0.1px solid rgb(0, 0, 0);

}
.upload:hover{
    background-color: white;
    color: black;
    transition: 0.5s;
    border: whitesmoke;
    cursor: pointer;
}
.buttons button{
    display: flex;
    gap: 10px;
    background-color: white;
    padding: 5px;
    width: 100px;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    border: 0.1px solid rgba(0, 0, 0, 0.096);

}
.buttons button:hover{
    background-color: rgb(94, 95, 93);
    color: rgb(255, 255, 255);
    transition: 0.5s;
    border: rgb(0, 0, 0);
    cursor: pointer;
}




/* Services */
.label{
    font-size: 20px;
    font-weight: 600;
    text-align: left;
    width: 100%;
    margin-top: 20px;
    padding: 20px;
    color: rgb(247, 247, 247);
}
#wrapperService{
    border-radius: 22px 22px 0px 0px;
}
.service{
    background-color: black;
    display: flex;
    justify-content: center;
    gap: 10px;
    width: 100vw;
    /* max-width: 900px; */
    padding: 20px;
    
}
.Info ,.card{
    max-width: 300px;
    /* align-items: center; */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.021);
    background-color: rgb(245, 245, 245);
    height: 200px;
    border-radius: 12px;
    /* box-shadow: 10px 10px 100px 10px rgba(2, 100, 84, 0.123); */
}
.Info{
    padding: 10px;
    font-weight: 500;
    color: rgb(68, 68, 68);
}

.card:hover{
    font-size: 30px;
    transition: 0.51s;
}

.Info:hover{
    font-size: 20px;
    transition: 0.51s;
}

